* {
    outline:none;
      border:none;
      margin:0px;
      padding:0px;
      font-family:Courier, monospace;
  }
  #paper {
      color:#FFF;
      font-size:20px;
  }
  #margin {
      margin-left:12px;
      margin-bottom:20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; 
  }
  #text {
      width:500px;
      overflow:hidden;
      overflow-y:scroll;
      background-color:#091222;
      color:rgb(248, 248, 248);
      border-style: solid;
  	  border-color: #BE9533;
      font-family:Courier, monospace;
      font-weight:normal;
      font-size:24px;
      resize:none;
      line-height:40px;
      padding-left:50px;
      padding-right:50px;
      padding-top:30px;
      padding-bottom:34px;
      -webkit-border-radius:12px;
              border-radius:12px;
      -webkit-box-shadow: 0px 2px 14px #BE9533;
              box-shadow: 0px 2px 14px #BE9533;
  }
  ::-webkit-scrollbar {
    display: none;
}
  #title {
      background-color:transparent;
      border-bottom:3px solid #FFF;
      color:#FFF;
      font-size:20px;
      font-family:Courier, monospace;
      height:28px;
      font-weight:bold;
      width:220px;
  }
  #button {
      cursor:pointer;
      margin-top:20px;
      float:inline-start;
      height:40px;
      padding-left:24px;
      padding-right:24px;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:bold;
      font-size:20px;
      color:#FFF;
      -webkit-border-radius:8px;
      border-radius:8px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      background: linear-gradient(to right, #B39D45, #534714);

  }
  #button:active {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
  }
  #button:focus {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
  }
  #button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #BE9533; 
    -webkit-box-shadow: 0 0 20px #BE9533;
    box-shadow: 0 0 20px #BE9533;
}
  #wrapper {
      width:700px;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      margin-top:24px;
      margin-bottom:100px;
  }

  header2 {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
    width: 100vw;
    height: 100vh;
  /*min-height: 875px;*/
	background: #161415 url("../images/back.jpg") no-repeat top center;
	background-size: cover;
   -webkit-background-size: cover;
	text-align: center;
	overflow: hidden;
  }
  
  ::placeholder {
	color:rgb(255, 255, 255);
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
}