body {
	font-family: 'Roboto', sans-serif;
	background: #fff;
}

.container {
	width: 100%;
	height: fit-content;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.box {
	margin: 10px;
	width: 210px;
	height: 390px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.back h2
{
    position:initial;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #000;
}

.box > .front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    

	width: 210px;
	height: 390px;
    
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.box > .back
{
	margin: 0px;
	width: 210px;
	height: 390px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);

    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
	opacity: 0.80;
    color: #fff;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}
.box:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.box:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}

.box h1 {
	color: #fff;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
	width: 100px;
	height:100px;
	margin: 70px auto;
	position: relative;
	border-radius: 100px;
}
.poster h4 {
    top: 35px;
    left: 15px;
    color: #fff;
    position: relative;
    font-size: 30px;
    text-align: left;
    font-weight: 20;
}
.one {
	background: url(../images/istj.png);
	background-repeat: no-repeat;
	background-position: center;
}

.two {
	background: url(../images/isfj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url(../images/infj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.four {
	background: url(../images/intj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.five {
	background: url(../images/istp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six {
	background: url(../images/isfp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.seven {
	background: url(../images/infp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eight {
	background: url(../images/intp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nine {
	background: url(../images/estp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ten {
	background: url(../images/esfp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eleven {
	background: url(../images/enfp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tlv {
	background: url(../images/entp.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.thirteen {
	background: url(../images/estj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ftn {
	background: url(../images/esfj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.fith {
	background: url(../images/enfj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sith {
	background: url(../images/entj.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* POSTER*/
.p1 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px darkblue;
	        box-shadow: 0 0 20px darkblue;
}

.p2 {
	background: #f857a6;  /* fallback for old browsers */
	background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px #fa3380;
	        box-shadow: 0 0 20px #fa3380;
}

.p3 {
	background: #4776E6;  /* fallback for old browsers */
	background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightblue;
	        box-shadow: 0 0 20px lightblue;
}

.p4 {
	background: #1FA2FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px skyblue;
	        box-shadow: 0 0 20px skyblue;
}


.p5 {
	background: #AA076B;  /* fallback for old browsers */
	background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px purple;
	        box-shadow: 0 0 20px purple;
}

.p6 {
	background: #DA22FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px violet;
	        box-shadow: 0 0 20px violet;
}

.p7 {
	background: #02AAB0;  /* fallback for old browsers */
	background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightgreen;
	        box-shadow: 0 0 20px lightgreen;
}
.p8 {
	background: #5433FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightblue;
	        box-shadow: 0 0 20px lightblue;
}
.p9 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, #fa3, #fa3380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px #fa3380;
	        box-shadow: 0 0 20px #fa3380;
}

.p10 {
	background: #2b5876;  /* fallback for old browsers */
	background: linear-gradient(to right, deepskyblue, lightblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px darkblue;
	        box-shadow: 0 0 20px darkblue;
}

.p11 {
	background: #F2994A;  /* fallback for old browsers */
	background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px lightyellow;
	        box-shadow: 0 0 20px lightyellow;
}

.p12 {
	background: #A770EF;  /* fallback for old browsers */
	background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px purple;
	        box-shadow: 0 0 20px purple;
}

.p13 {
	background: #f4c4f3;  /* fallback for old browsers */
	background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px pink;
	        box-shadow: 0 0 20px pink;
}
.p14 {
	background: #00c3ff;  /* fallback for old browsers */
	background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px olive;
	        box-shadow: 0 0 20px olive;
}
.p15 {
	background: #5614B0;  /* fallback for old browsers */
	background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px olive;
	        box-shadow: 0 0 20px olive;
}

.p16 {
	background: #fc00ff;  /* fallback for old browsers */
	background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0 0 20px olive;
	        box-shadow: 0 0 20px olive;
}